services:
  api:
    container_name: api
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      target: api
    image: readdig-api
    volumes:
      - ./data/static:/usr/src/readdig/api/static
    depends_on:
      cache:
        condition: service_healthy
      database:
        condition: service_healthy
    networks:
      - backend
    logging:
      driver: 'json-file'
      options:
        max-size: '50MB'
        max-file: '10'
    environment:
      DOCKER: 'true'
      NODE_ENV: production
      API_PORT: 8000
      CACHE_URL: redis://cache:6379
      DATABASE_URL: postgresql://readdig:database_password@database:5432/readdig
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8000/health"]
      interval: 10s
      timeout: 30s
      retries: 300

  app:
    container_name: app
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      target: app
    image: readdig-app
    ports:
      - '80:80'
    depends_on:
      api:
        condition: service_healthy
    networks:
      - frontend
      - backend
    logging:
      driver: 'json-file'
      options:
        max-size: '50MB'
        max-file: '10'

  cache:
    image: redis:8-alpine
    container_name: cache
    restart: always
    volumes:
      - ./data/redis:/data
    networks:
      - backend
    logging:
      driver: 'json-file'
      options:
        max-size: '50MB'
        max-file: '10'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 300

  database:
    image: postgres:18-alpine
    container_name: database
    restart: always
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: readdig
      POSTGRES_USER: readdig
      POSTGRES_PASSWORD: database_password
    networks:
      - backend
    logging:
      driver: 'json-file'
      options:
        max-size: '50MB'
        max-file: '10'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U readdig -d readdig"]
      interval: 10s
      timeout: 30s
      retries: 300

networks:
  frontend: 
    name: frontend
    driver: bridge
  backend: 
    name: backend
    driver: bridge
